blinker
cachetools
certifi
charset-normalizer
click
colorama
et_xmlfile
Flask
google-auth
google-auth-oauthlib
gspread
idna
itsdangerous
Jinja2
MarkupSafe
numpy
oauthlib
openpyxl
pandas
pyasn1
pyasn1_modules
python-dateutil
pytz
requests
requests-oauthlib
rsa
six
tzdata
urllib3
Werkzeug
gunicorn
dotenv
