

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-in-out;
  color: var(--text-color);
}
:root{
  /* Light Blue #ADD8E6, Dark Blue #00008B,  Charcoal #101820, */
  --main-color: #000000;
  --text-color: #f5f5f5;
  --bg-color: #ADD8E6;
  --secondery-color: hsl(50, 90%, 49%);
  --text-shadow: 3px 3px 3px #ffffffff;
  --box-shadow: 3px 3px 8px #000000;
}

body {
  background: url('./me.jpeg') center center / cover no-repeat fixed;
  width: 100%;
}
.Hero{
  width: 100%;
  height: 100svh;
}
.container{
  width: 100vw;
  height: 100%;
  position: relative;
}
.form_body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form{
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
input,textarea{
  padding: 8px 22px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  background: transparent
}
.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}


.time_box{
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
input[type="time"]{
  width: 50%;
}

button{
  margin-top: 15px;
  padding: 10px 22px;
  border: none;
  border-radius: 5px;
  background: var(--text-color);
  color: var(--main-color);
  font-weight: 800;
  font-size: 19px;
  cursor: pointer;
}
button:active{
  transform: scale(0.95);
  background-color: var(--secondery-color);
}
.back_icon{
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 35px;
  color: var(--text-color);
  text-shadow:var(--text-shadow);
  cursor: pointer;
}
