<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Form</title>
    <meta http-equiv="refresh" content="5" />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back_ios"
    />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward_ios,GRAD@24,400,0,0&icon_names=arrow_back_ios" />
  </head>
  <body>
    <div class="Hero">
      <div class="container">
        <div class="menubar">
          <span class="material-symbols-outlined"> arrow_forward_ios </span>
          <div class="container text-center mt-4">
            <a href="/view" class="btn btn-outline-primary px-5 py-2"
              >📊 View Sheet Data</a
            >
          </div>
        </div>
        <span class="material-symbols-outlined back_icon">
          arrow_back_ios
        </span>
        <div class="form_body">
          <form class="glass-card" action="/submit" method="POST">
            <h2>Add Your Ticket 😊</h2>
            <label>Created Date</label>
            <input type="date" name="created_date" required />
            <div class="time_box">
              <label>Start Time</label>
              <input type="time" name="start_time" required />
              <label>End Time</label>
              <input type="time" name="end_time" required />
            </div>
            <label>User Name</label>
            <input type="text" name="user_name" required />
            <label>Process</label>
            <input type="text" name="process" required />
            <label>Reported By</label>
            <input type="text" name="reported_by" required />
            <label>Issue Category</label>
            <input type="text" name="issue_category" required />
            <label>Sub-category</label>
            <input type="text" name="sub_category" required />
            <label>Remarks</label>
            <textarea name="remarks" rows="3" required></textarea>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
